@{
  Layout = "_Layout";
}

<h1>Welcome to Music Organizer</h1>
<p>Your personal music organizer, for all your music organizing needs.</p>
<button><a href="/artists">View Artists</a></button>
<button><a href="/artists/new">Add A new Artist</a></button>
