@{
  Layout = "_Layout";
}

<h1>Add a New Artist</h1>

<form action="/artists" method="post">
  <label for="name">Artist Name</label>
  <input id="name" name="name" type="text">
  <select id="genre">
    <option>Pop Punk</option>
    <option>Orchestral Pop</option>
    <option>Soft Rock</option>
  </select>
  <button type="submit">Add</button>
</form>
<button><a href="/">Back Home</a></button>
<button><a href="/artists">Back to Artists.</a></button>